* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "Atkinson Hyperlegible", sans-serif;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.hidden {
   display: none;
}
header,
form,
li {
   display: flex;
   align-items: center;
}

img {
   height: 3rem;
}
button {
   border: none;
   cursor: pointer;
}

.checkedTask {
   color: #2e294e7c;
   text-decoration: line-through;
   font-style: italic;
}
.greenLiveText {
   color: #26de81;
}
.redLiveText {
   color: #f34235;
}
